.text{
color: brown;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bolder;
}

.header{

font-style: italic;
font-size: large;
color: brown;


}
ul.b{
color:brown ;


}
.bum{
background-color: beige;


}

.top{
color: brown;
font-weight: 700;
font-family: 'Times New Roman', Times, serif;
text-align: center;


}

.color{
color: brown;

}

.x{
color: brown;


}
.main-text{
color: brown;


}
.pizza-color{

background-color: beige;

}
* {

    color: brown;
    background-color: beige;
}